* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin:0;
  font-family: 'Oswald', sans-serif;
}
ul {
  margin: 0px;
  padding: 0px;
}
.paddingMed {
  padding: 50px 20px;
}
.paddingTop {
  padding-top: 50px;
}
.paddingBig {
  padding: 80px 20px 20px;
}
.bottom {
  margin-bottom: 65px;
}
/*Navigations*/
header{
  position: fixed;
  width: 100%;
  z-index: 99999;
  padding-top: 0px;
  border-bottom: 2px solid #fff;
  width: 100%;
  z-index: 99999;
  background: #00;
  background: -webkit-linear-gradient(#000, rgba(0, 0, 0,.5));
  background: -o-linear-gradient(#000, rgba(0, 0, 0,.5));
  background: -moz-linear-gradient(#000, rgba(0, 0, 0,.5)w);
  background: linear-gradient(#000, rgba(0, 0, 0,.5));
}
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  border-top: 2px solid #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 1.5em;
  background: #00;
  background: -webkit-linear-gradient(rgba(0, 0, 0,.5), #000);
  background: -o-linear-gradient(rgba(0, 0, 0,.5), #000);
  background: -moz-linear-gradient(rgba(0, 0, 0,.5), #000)w);
  background: linear-gradient(rgba(0, 0, 0,.5), #000); 
}
footer a {
  margin-left: 20px;
}
footer a:first-child {
  margin-left: 0px;
}
header a {
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}
header a,
footer a {
  color: #f2f2f2;
  text-align: center;
  font-weight: 800;
  font-size: 21px;
}
footer i {
  font-size: 1.5em !important;
}
.title {
  display: inline-block;
  float: left;
}
.navbar {
  display: inline-block;
  float: right;
}
.navbar a {
  float: left;
  display: block;

}
footer a:hover,
.title a:hover,
.navbar a:hover {
  color:#66b3ff;
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 300000;
  opacity: 0;
  transition: opacity 6s;
}
.logo.ready {
  opacity: .75;
}
/*Pages*/
.container {
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
  background: #fff;
  opacity: 0;
  transition: opacity 2s;
}
.container::-webkit-scrollbar { 
  display: none;
}
.container.ready {
  opacity: 1;
}
#about .container,
#contact .container,
#gallery .container {
  overflow-y: auto;
}
/*Page Specific*/
#about {
  height: 100vh;
  position: relative;
  background: url(/images/heroOne.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
#about img {
  max-width: 100%;
    max-height: 515px;
}
#portfolio {
  height: 100vh;
  position: relative;
  background: url(/images/heroTwo.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
#contact {
  height: 100vh;
  position: relative;
  background: url(/images/heroThree.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
.contactInfo {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.contactInfo p {
  margin: 0;
}
.contactInfo p:last-child {
  margin-bottom: 50px;
}
.contactInfo a {
  text-decoration: none;
  color: #0080ff;
}
#gallery {
  height: 100vh;
  position: relative;
  background: url(/images/heroFour.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
/*Landing Full Page Stuff*/
.fullPageLayout {
    height: 100%;
    position: relative;
}
.fp-slidesContainer {
  width: 100%!important;
  transform: none!important;
}

.fp-slide {
  width: 100%!important;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  transition: all .7s ease-in-out;
}
.fp-slide.active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
  .section{
    background-size: cover;
  }
  .slide{
    background-size: cover;
  }
/*  Grid Layout  */
.span_12_of_12 {
  width: 100%;
}

.span_11_of_12 {
    width: 91.66%;
}
.span_10_of_12 {
    width: 83.33%;
}

.span_9_of_12 {
    width: 75%;
}

.span_8_of_12 {
    width: 66.66%;
}

.span_7_of_12 {
    width: 58.33%;
}

.span_6_of_12 {
    width: 50%;
}

.span_5_of_12 {
    width: 41.66%;
}

.span_4_of_12 {
    width: 33.33%;
}

.span_3_of_12 {
    width: 25%;
}

.span_2_of_12 {
    width: 16.66%;
}

.span_1_of_12 {
    width: 8.333%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
  width: 100%; 
  }
}
.col {
  display: block;
  float:left;
}
.col:first-child { margin-left: 0; }
.row {
  width: 100%;
  display: inline-block;
  background-color: #fff;
}

/*Layer Selector for Portfolio*/
.list-group {
  padding: 50px 20px;
}
.list-group a:first-child {
  border-top: 1px solid #000;
}
.list-group a {
  display: block;
  color: #000;
  padding-left: 3px;
  text-decoration: none;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}
.list-group a:hover {
  color: #fff;
  background-color: #0080ff;
}
.square-group {
  margin-left: 12%;
  position: relative;
}
.list-group-item {
  transition: all .5s;
}
.list-group-item.active {
  color: #fff;
  background-color: #0080ff;
}
.square:nth-child(1) {
  top: 30px;
  z-index: 9;
}

.square:nth-child(2) {
  top: 60px;
  z-index: 8;
}

.square:nth-child(3) {
  top: 90px;
  z-index: 7;
}

.square:nth-child(4) {
  top: 120px;
  z-index: 6;
}

.square:nth-child(5) {
  top: 150px;
  z-index: 5;
}

.square:nth-child(6) {
  top: 180px;
  z-index: 4;
}

.square:nth-child(7) {
  top: 210px;
  z-index: 3;
}

.square:nth-child(8) {
  top: 240px;
  z-index: 2;
}

.square:nth-child(9) {
  top: 270px;
  z-index: 1;
}

.square:nth-child(10) {
  top: 300px;
  z-index: 0;
}

.square {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 200px;
  padding: 20px;
  background: rgba(195, 39, 43, 0.2);
  box-shadow: 0 0 2px 1px rgba(26, 140, 255, 0.9);
  transform: matrix3d(1, 0, 0, 0, -0.5, 0.5, 0, 0, 0, 0, 1, 0, 50, 50, 0, 1);
  transform-origin: 0px 0px;
  transition: all .3s ease-out;
  cursor: pointer;
  backface-visibility: hidden;
  z-index: 10;
  pointer-events: none;
}
.square .square__inner {
  color: #fff;
  opacity: 0;
  transition: opacity .3s ease-out;
}
.square:hover {
  background: rgba(195, 39, 43, 0.8);
}
.square:active, .square:target {
  top: 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  background: #8f1d21;
  z-index: 11;
  pointer-events: auto;
}
.square:active .square__inner, .square:target .square__inner {
  opacity: 1;
}
#square1,#square2,#square3,#square4,#square5,#square6,#square7,#square8,#square9,#square10,#square11,#square12,#square13 {
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#square1{
  background-image: url(/images/occs.png);

}
#square2{
  background-image: url(/images/shopone.png);
}
#square3 {
  background-image: url(/images/miller.png)
}
#square4 {
  background-image: url(/images/helios.png)
}
#square5 {
  background-image: url(/images/marathon.png)
}
#square6 {
  background-image: url(/images/bgsu.png)
}
#square7 {
  background-image: url(/images/region.png)
}
#square8 {
  background-image: url(/images/metroparks.png)
}
#square9 {
  background-image: url(/images/north.png)
}
#square10 {
  background-image: url(/images/nostaglia.png)
}

@media screen and (max-width: 768px) {
  header a,
  footer a {
    font-size: 16px;
  }
  footer {
    margin-bottom: 0px;
  }
  .mobiHide {
    display: none;
  }
  div.mobiShow {
    display: block;
  }
  #about, #portfolio,#contact {
    height: 100%;
  }
  .bottom {
    margin-bottom: 40px;
  }
  .logo {
    width: 90%;
  }
  .paddingBig {
    padding: 50px 20px 20px;
  }
}
.mobiShow {
  display: none;
}

/* new nav test */
.mainNavIcon {
  width: 30px;
  height: 30px;
  top: 19px;
  right: 17px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 500;
  display: none;
}
@media screen and (max-width: 950px) {
  div.mainNavIcon {
    display: block;
  }
  div.mainNavOverlay {
  display: none;
  height: 100vh;
  }
  #main-menu {
    width: 100vw;
    padding-top: 50px;
  }
  #main-menu li,  #main-menu a {
    width: 100%;
    display: block;
  }
}
#main-menu li,  #main-menu a {
  display: inline-block;
  list-style: none;
  margin: 0;
  line-height: normal;
  direction: ltr;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.mainNavIcon span:nth-child(1) {
  width: 75%;
}
.mainNavIcon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  opacity: 1;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.mainNavIcon span:nth-child(2), .mainNavIcon span:nth-child(3) {
  top: 8px;
}
.mainNavIcon.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}
.mainNavIcon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mainNavIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


.mainNavIcon.open ~ .mainNavOverlay {
  display: block;
}

